* {
    box-sizing: border-box;
    font-family:'Courier New', Courier, monospace
}

body{
    background: #F0E5CF;
    margin: 15px;
}

.card {
    width: 32%;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background: white;
}

@media (max-width: 1000px){
    .card {
        width: 50%;
    }
}

@media (max-width: 550px){
    .card {
        width: 100%;
    }
}




.project-picture {
    width: 100%;
    height: 270px;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.title{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0;
}

.title > *{
    margin: 10px 0 0 0;
    color: #444444
}

.text{
    font-size: 1.2rem;
    color: #7F7C82
}

.toggle{
    cursor: pointer;
    width: 100%;
    padding: 5px 0;
    border: solid 1px black;
    margin-bottom: 10px;
    font-size: 1.2rem;
    letter-spacing: 1px;
    background: white;
    border-color: #444444;
    color: #444444;
}

.toggle:hover{
    background-color: #444444;
    color: white;
}